.container {
  padding: 42px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.inline {
  display: flex;
  column-gap: 6px;
}

.example {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  width: 900px;
}
